In [5]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
import pandas as pd
path='/content/train.csv'

In [12]:
df=pd.read_csv(path, index_col='PassengerId')
df.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [15]:
df.shape

(891, 11)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [18]:
survival_rates = df.groupby('Pclass')['Survived'].mean() * 100
print(f"\nПроцент выживаемости по классам:")
print(survival_rates)

Процент выживаемости по классам:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [20]:
def extract_name(name):
    return name.split(',')[1].split('.')[1].strip()

df['First_Name'] = df['Name'].apply(extract_name)

female_names = df[df['Sex'] == 'female']['First_Name']
male_names = df[df['Sex'] == 'male']['First_Name']

popular_female_name = female_names.value_counts().idxmax()
popular_male_name = male_names.value_counts().idxmax()

print(f"\nСамое популярное женское имя: {popular_female_name}")
print(f"Самое популярное мужское имя: {popular_male_name}")

Самое популярное женское имя: Mary
Самое популярное мужское имя: John

In [21]:
for pclass in df['Pclass'].unique():
    subset = df[df['Pclass'] == pclass]

    female_names_pclass = subset[subset['Sex'] == 'female']['First_Name']
    male_names_pclass = subset[subset['Sex'] == 'male']['First_Name']

    popular_female_name_pclass = female_names_pclass.value_counts().idxmax()
    popular_male_name_pclass = male_names_pclass.value_counts().idxmax()

    print(f"\nКласс {pclass}:")
    print(f"Самое популярное женское имя: {popular_female_name_pclass}")
    print(f"Самое популярное мужское имя: {popular_male_name_pclass}")

Класс 3:
Самое популярное женское имя: Mary
Самое популярное мужское имя: James

Класс 1:
Самое популярное женское имя: John Bradley (Florence Briggs Thayer)
Самое популярное мужское имя: Charles H

Класс 2:
Самое популярное женское имя: Bertha
Самое популярное мужское имя: William John

In [44]:
print("Пассажиры от 44 лет и старше")
df[df['Age'] >= 44].head()

Пассажиры от 44 лет и старше

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,First_Name
PassengerId,,,,,,,,,,,,
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Timothy J
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Elizabeth
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,(Mary D Kingcome)
34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Edward H
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,Henry Sleeper (Myna Haxtun)

In [43]:
print("число пассажиров старше 44 лет или равное 44 годам")
df[df['Age'] >= 44].count().max()

число пассажиров старше 44 лет или равное 44 годам

124

In [42]:
print("Пассажиры младше 44 лет и мужского пола:")
df[(df['Age'] < 44) & (df['Sex'] == 'male')].count().max()

Пассажиры младше 44 лет и мужского пола:

368

In [41]:
df2=df.groupby('Cabin')
print('число кабин')
len(df2.groups)

число кабин

147